# this is the app TVDB KEY, you need it if wou wan to work on the api app
# do not specify it and use the already hosted one instead
TMDB_API_KEY=""

# Secret for the auth tokens
AUTH_JWT_SECRET="i-am-very-secret-jk-420-69"

# Paths to the different metadats and transcode folders
METADATAS_PATH="/home/llelievr/streamer-test/beast-turbo/volumes/metadatas"
TRANSCODE_PATH="/home/llelievr/streamer-test/beast-turbo/volumes/transcode"

# url to the local frontent
SERVER_APP_PATH=http://localhost:3000
API_APP_PATH=https://api.beast-media.org

SERVER_LIBRARIES_ROOT=/mnt/libraries

SERVER_DB_PATH=/home/llelievr/streamer-test/beast-turbo/volumes/server.db

# url to the socketio server
API_WS_PATH=ws://localhost:3001

API_PORT=3000
API_WS_PORT=3001